@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="/Content/metro-ui/css/metro-bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/metro-ui/css/metro-bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/Content/metro-ui/css/iconFont.min.css" />
    <script src="/Scripts/jquery-2.1.1.min.js"></script>
    <script src="/Scripts/metro-ui/jquery.ui.widget.js"></script>
    <script src="/Scripts/metro-ui/metro.min.js"></script>

    <title>隐私声明</title>
</head>

<body class="metro">
    <h2>隐私声明</h2>
    <div class="collapse-separate"></div>

    <div>
        <p class="text-info">查看隐私声明</p>
    </div>
    
    
    <div class="scrollbar-line-v"></div>
    <div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
            关于使用微软账户
        </div>
        <div class="panel-content">
            有些服务（如数据同步）将需要您提供您的微软账户进行登陆。我们不会查看任何与您相关的数据，而且也不会包含任何可以唯一定位到您的特征信息，所有数据仅保存于服务器以便做同步和备份的作用。
        </div>
    </div>

</body>

